/*configuração do fundo da tela*/
body{
    background-color: rgb(235, 112, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 10px 10px 10px;
}
/*configuração do titulo*/

h1{
    font-weight: 400;
    text-align: center;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: black;
}
/*configuração do subtitulo*/
h2{
    text-align: center;
}
/*configuração do elemento filho ou seja a cx de flex box que define as divs*/
.cards{
    background-color: white;
    border: 3px solid blue;
    width: 360px;
    height:550px;
    margin: 15px;
}

/*configuração do elemento pai ou seja a cx de flex box que envolve todas as divs*/
.cards_container{
    background-color: rgb(177, 163, 190);
    border: 2px solid blue;
    margin: 5px auto 5px auto;
    height:95% ;
    width:95%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
/*configuração do texto dentro do paragrafo nas div*/
.cards p{
    text-align: center;
    margin-top: 1px;
    color: black;
}

.tamanho{
    width: 360px;
    height: 85%;
}
/*configuração de efeito nas imagem dentro da div*/
img:hover{
    filter: grayscale(100%);
}
main p{
    margin: 10px 5px 10px 5px;
    }

footer{
    background-color: black;
    color: blueviolet;
    padding: 16px;
    margin: 5px auto 5px auto;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width: 800px)
{
    .cards_container{
    flex-direction: column;
    align-items: center;
    }
}



